@import url("https://fonts.googleapis.com/css2?family=Texturina:wght@100;400;600;900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: "Texturina", serif;
  font-size: 16px;
  line-height: 1.38;
  min-width: 320px;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #121212;
}

.app-wrapper {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  max-width: 1480px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 40px;

  grid-template-areas:
    "header header"
    "aside main";
}

.header {
  display: flex;
  grid-area: header;
  align-items: center;
  background-color: #ccc;
}

.header img {
  display: block;
  width: auto;
  height: 50px;
}

.aside {
  grid-area: aside;
  background-color: #ccc;
}

/* begin MAIN */
.main {
  grid-area: main;
  background-color: #ccc;
}
/* end MAIN */

/* begin PROFILE */
.profile__top-img {
  width: 100%;
  height: 250px;
  margin-bottom: 50px;
}
.profile__top-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

.profile-user {
  display: flex;
  align-items: flex-start;
}
.profile-user__ava {
  flex: none;
  width: 140px;
  height: 140px;
  margin-right: 50px;
}
.profile-user__ava img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50%;
}

.profile-posts__item {
  display: flex;
  align-items: flex-start;
}

.profile-posts__ava {
  overflow: hidden;
  flex: none;
  width: 80px;
  height: 80px;
  margin-right: 50px;
  border-radius: 50%;
}

.profile-posts__ava img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
/* end PROFILE */
