@import url("https://fonts.googleapis.com/css2?family=Texturina:wght@100;400;600;900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: "Texturina", serif;
  font-size: 16px;
  line-height: 1.38;
  min-width: 320px;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #121212;
}

.app-wrapper {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  max-width: 1480px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 40px;

  grid-template-areas:
    "header header"
    "aside main";
}

.main {
  grid-area: main;
  background-color: #ccc;
}
